/* Fonts used */
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand&display=swap");

body {
  background-color: #ffebef;
}

.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

/* TYPOGRAPHY */
h1 {
  font-family: "Pacifico", cursive;
  font-size: 40px;
  font-weight: 100;
}

h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 25px;
}

ul li {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  padding: 0;
}

/* GENERATED PALETTE SECTION */
.palette-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.palette-colors {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 30px;
  padding: 8px 8px 5px 8px;
  background-color: rgba(0, 0, 0, 0.2);
  width: flex;
}

.palette-colors ul {
  float: left;
  list-style-type: none;
  padding: 0;
  display: block;
  padding: 15px 15px 7px 15px;
}

.palette-color {
  display: block;
  float: right;
}

.palette-color div {
  text-transform: uppercase;
  font-size: 16px;
}

/* Hide the label initially */
.hide {
  display: none;
}

#popup {
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0 20px 15px 20px;
  padding: 5px;
  width: 150px;
  z-index: 1;
}

.palette-color-preview {
  display: inline-block;
  height: 50px;
  width: 50px;
}


.palette-color:hover .hide {
  transform: scale(1.2);
  display: block;
  margin: 2px;
}

.remove-from-palette {
  font-size: 10px;
  font-weight: 600;
  padding: 2px;
  margin-left: 2px;
  color: #000;
  cursor: pointer;
}

/* CSS COLOR OPTIONS SECTION */
.color-options-row {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

/* List of CSS options */
.color-options {
  display: inline-block;
  max-height: 200px;
  overflow-y: scroll;
  background-image: linear-gradient(0deg,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)),
    url("img/colors-unsplash.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.color-options {
  padding: 0 5px;
}

.color-option {
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  font-weight: 600;
  justify-content: space-between;
}

.color-option-preview {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 5px;
}

.color-option:hover {
  color: white;
  font-weight: bolder;
  background-color: darkgrey;
}

/* Customize Color Options scroll bar */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 8px lightgray;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: lightgray;
}

/* Selected color square */
.selected-color {
  display: inline-flex;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  margin: 20px;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.heart {
  fill: transparent;
  transition: fill 0.3 ease-in-out;
}

.selected-color:hover .heart {
  fill: lightcoral;
}

.selected-color.already-in-palette .heart {
  fill: red;
}

@media only screen and (max-width: 768px) {

  h2 {
    font-size: 20px;
  }

  .palette-colors {
    margin: 30px 20px;
  }

  .color-options-row {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
}